@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.buttonContainer{
    margin-top:100px;
    text-align:center;
}

h1{
    color:rgba(69, 69, 69, 1);
    line-height:2em;
}

/* BUTTON CSS
------------------------------------------- */

a.button{
    display:inline-block;

    font:normal normal 300 1.3em 'Open Sans';
    text-decoration:none;

    color:rgba(28, 190, 131, 1);
    brackground-color:transparent;
    border:1px solid rgba(28, 190, 131, 1);
    border-radius:100px;

    padding: .3em 1.2em;
    margin:5px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(28, 190, 131, 1) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

a.button:hover{
    color:rgba(255, 255, 255, 1);
    background-color:rgba(28, 190, 131, 1);
    background-position: -100% 100%;
}

.inputField {
    width: 260px;
    padding: 12px 18px;
    margin-bottom: 15px;

    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;

    color: white;
    background-color: transparent;

    border: 1px solid rgba(28, 190, 131, 1);
    border-radius: 100px;

    outline: none;
    transition: 0.3s ease;
}

.inputField:focus {
    border-color: white;
    background-color: rgba(28, 190, 131, 0.15);
}
